<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cb.mapper.DeviceTypeMapper">

    <insert id="insertNewDeviceType" parameterType="com.cb.entity.dataBaseEntity.DeviceTypeEntity">
        INSERT INTO device_type(ID, DEVICE_CREATE_USER, DEVICE_DESCRIPTION, DEVICE_STATUS, DEVICE_TYPE_NAME,  PARENT_ID, TYPE_CREATE_TIME, TYPE_UPDATE_TIME)
        VALUES (#{id},#{deviceCreateUser},#{deviceDescription},#{deviceStatus},#{deviceTypeName},#{parentId},NOW(),NOW())
    </insert>
    <update id="updateTypeById">
        UPDATE device_type SET type_update_time =NOW()
        <if test="deviceTypeName != null and deviceTypeName.trim()!=''">
            ,device_type_name = #{deviceTypeName}
        </if>
        <if test="parentId != null and parentId !=''">
            , parent_id = #{parentId}
        </if>
        <if test="deviceDescription !=null and deviceDescription.trim()!=''">
            ,device_description = #{deviceDescription}
        </if>
        WHERE id=#{id}
    </update>
    <update id="batchDeleteTypeByIdList">
        UPDATE device_type SET device_status = '2'
        WHERE id IN
        <foreach collection="ids"  open="(" close=")" separator="," item="id">#{id}</foreach>
    </update>
    <select id="searchTypeByCondition" resultType="com.cb.entity.dataBaseEntity.DeviceTypeEntity">
        SELECT ID, DEVICE_CREATE_USER, DEVICE_DESCRIPTION, DEVICE_STATUS, DEVICE_TYPE_NAME, PARENT_ID,
        TYPE_CREATE_TIME, TYPE_UPDATE_TIME
        FROM device_type
        WHERE device_status!= '2'
        <if test="queryParam.deviceCreateUser !=null and queryParam.deviceCreateUser.trim() !='' ">
            AND device_create_user LIKE CONCAT('%',#{queryParam.deviceCreateUser},'%') ESCAPE '#'
        </if>
        <if test="queryParam.deviceTypeName !=null and queryParam.deviceTypeName.trim() !='' ">
            AND device_type_name LIKE CONCAT('%',#{queryParam.deviceTypeName},'%') ESCAPE '#'
        </if>
        <if test="queryParam.deviceStatus !=null and queryParam.deviceStatus !='' ">
            AND device_type_name = #{queryParam.deviceStatus}
        </if>
        <if test="queryParam.beginTime !=null">
            AND type_create_time >= #{queryParam.beginTime}
        </if>
        <if test="queryParam.endTime !=null  ">
            AND type_create_time &lt;= #{queryParam.endTime}
        </if>
        <if test="queryParam.parentId !=null and queryParam.parentId !='' ">
            AND parent_id = #{queryParam.parentId}
        </if>
        UNION
        SELECT A.id, A.device_create_user, A.device_description,A.device_status, A.device_type_name, A.parent_id, A.type_create_time, A.type_update_time
        FROM device_type AS A
        INNER JOIN
        (SELECT ID, DEVICE_CREATE_USER, DEVICE_DESCRIPTION, DEVICE_STATUS, DEVICE_TYPE_NAME, PARENT_ID,
        TYPE_CREATE_TIME, TYPE_UPDATE_TIME
        FROM device_type
        WHERE device_status!= '2'
        <if test="queryParam.deviceCreateUser !=null and queryParam.deviceCreateUser.trim() !='' ">
            AND device_create_user LIKE CONCAT('%',#{queryParam.deviceCreateUser},'%') ESCAPE '#'
        </if>
        <if test="queryParam.deviceTypeName !=null and queryParam.deviceTypeName.trim() !='' ">
            AND device_type_name LIKE CONCAT('%',#{queryParam.deviceTypeName},'%') ESCAPE '#'
        </if>
        <if test="queryParam.deviceStatus !=null and queryParam.deviceStatus !='' ">
            AND device_type_name = #{queryParam.deviceStatus}
        </if>
        <if test="queryParam.beginTime !=null">
            AND type_create_time >= #{queryParam.beginTime}
        </if>
        <if test="queryParam.endTime !=null  ">
            AND type_create_time &lt;= #{queryParam.endTime}
        </if>
        <if test="queryParam.parentId !=null and queryParam.parentId !='' ">
            AND parent_id = #{queryParam.parentId}
        </if>) AS B
        ON A.id = B.parent_id
        ORDER BY id,type_create_time desc
        LIMIT #{offset},#{validPageSize}
    </select>
    <select id="searchTypeByConditionCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM device_type
        WHERE device_status!= '2'
        <if test="queryParam.deviceCreateUser !=null and queryParam.deviceCreateUser.trim() !='' ">
            AND device_create_user LIKE CONCAT('%',#{queryParam.deviceCreateUser},'%') ESCAPE '#'
        </if>
        <if test="queryParam.deviceTypeName !=null and queryParam.deviceTypeName.trim() !='' ">
            AND device_type_name LIKE CONCAT('%',#{queryParam.deviceTypeName},'%') ESCAPE '#'
        </if>
        <if test="queryParam.deviceStatus !=null and queryParam.deviceStatus !='' ">
            AND device_type_name = #{queryParam.deviceStatus}
        </if>
        <if test="queryParam.beginTime !=null ">
            AND type_create_time >= #{queryParam.beginTime}
        </if>
        <if test="queryParam.endTime !=null">
            AND type_create_time &lt;= #{queryParam.endTime}
        </if>
        <if test="queryParam.parentId !=null and queryParam.parentId !='' ">
            AND parent_id = #{queryParam.parentId}
        </if>
    </select>
    <select id="selectTypeNameCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM device_type
        WHERE device_status !=2
        <if test="deviceTypeName != null and deviceTypeName.trim()!=''">
            AND device_type_name = #{deviceTypeName}
        </if>
        <if test="parentId != null and parentId !=''">
            AND id = #{parentId}
        </if>
    </select>
    <select id="selectAllParentType" resultType="com.cb.entity.dataBaseEntity.DeviceTypeEntity">
        SELECT ID, DEVICE_CREATE_USER, DEVICE_DESCRIPTION, DEVICE_STATUS, DEVICE_TYPE_NAME, PARENT_ID, TYPE_CREATE_TIME, TYPE_UPDATE_TIME
        FROM device_type
        WHERE device_status !='2' AND parent_id IN(NULL,0)
    </select>
</mapper>